body{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    height: 70px;
    background-color: #ff0000;
    width: 15%;

}

.box2 {
    height: 100px;
    background-color: #00ff00;
    width: 15%;
}

.box3 {
    height: 200px;
    background-color: #0000ff;
    width: 40%;
    font-size: 6rem;
}

.box4 {
    height: 100px;
    background-color: #ffff00;
    width: 15%;
}

.box5 {
    height: 70px;
    background-color: #ff00ff;
    width: 15%;
}